.constructorStandings-container {
  display: flex;
  width: min(1200px, 100% - 3rem);
  margin-inline: auto;
  min-height: 100vh;
}

.constructorStandings-container table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0px;
  width: 80%;
  margin-bottom: 3rem;
  margin-top: 1.5rem;
}

.constructorStandings-container thead {
  text-align: center;
}

.constructorStandings-container tbody {
  text-align: center;
}

.constructorStandings-container th {
  background-color: black;
  color: white;
  padding: 12px;
}

.constructorStandings-container td {
  word-wrap: break-word;
  width: 12.5rem;
  padding: 20px;
  font-size: 14px;
}

.constructorStandings-container tbody tr:nth-child(odd) {
  background-color: rgb(242, 242, 242);
}

.constructorStandings-container .constructor-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.constructorStandings-container .constructor-progress .constructor-title {
  width: 60%;
  text-align: center;
}

.constructorStandings-container .constructor-progress .constructor-title h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
}

@media (max-width: 650px) {
  .constructorStandings-container {
    justify-content: center;
    height: auto;
  }

  .constructorStandings-container .constructor-progress .constructor-title {
    width: 100%;
  }

  .constructorStandings-container .constructor-progress .constructor-title h2 {
    font-size: 1.5em;
  }

  .constructorStandings-container th {
    display: none;
  }

  .constructorStandings-container td {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: auto;
    gap: 1rem;
    grid-template-columns: 10ch auto;
    padding: 0.5rem 1rem;
  }

  .constructorStandings-container td:first-child {
    padding-top: 2rem;
  }

  .constructorStandings-container td:last-child {
    padding-bottom: 2rem;
  }

  .constructorStandings-container td::before {
    content: attr(data-cell) ": ";
    padding-right: 3rem;
    font-weight: 700;
    text-transform: capitalize;
  }
}
