.driverStandings-container {
  display: flex;
  width: min(1200px, 100% - 3rem);
  margin-inline: auto;
  height: auto;
}

.driverStandings-container table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 10px;
  width: 100%;
  border-spacing: 0;
  margin-bottom: 7rem;
  margin-top: 1.5rem;
}

.driverStandings-container thead {
  text-align: center;
}

.driverStandings-container tbody {
  text-align: center;
}

.driverStandings-container th {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 12px;
}

.driverStandings-container td {
  word-wrap: break-word;
  width: 12.5rem;
  padding: 20px;
  font-size: 14px;
}

.driverStandings-container tbody tr:nth-child(odd) {
  background-color: rgb(242, 242, 242);
}

.driverStandings-container .main-content .driver-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  margin-top: 8rem;
}

.driverStandings-container .main-content .driver-progress .drivers-title {
  width: 60%;
  text-align: center;
}

.driverStandings-container .main-content .driver-progress .drivers-title h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
}

@media (max-width: 650px) {
  .driverStandings-container {
    justify-content: center;
  }

  .driverStandings-container th {
    display: none;
  }

  .driverStandings-container td:first-child {
    padding-top: 2rem;
  }

  .driverStandings-container td:last-child {
    padding-bottom: 2rem;
  }

  .driverStandings-container td {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: auto;
    gap: 1rem;
    grid-template-columns: 10ch auto;
    padding: 0.5rem 1rem;
  }

  .driverStandings-container td::before {
    content: attr(data-cell) ": ";
    padding-right: 3rem;
    font-weight: 700;
    text-transform: capitalize;
  }
}
