.home-container {
  height: 100vh;
  max-height: calc(
    100vh - 100px
  ); /* subtract the height of the footer from the container's max-height */
  position: relative;
  overflow: hidden;
}
.home-container .content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.home-container .content-wrapper .content-slide {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.home-container .content-wrapper .content-slide .content-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* background fade */
.home-container .content-wrapper .content-slide .content-slider::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100vh;
  bottom: 0vh;
  left: 0;
  overflow: hidden;
  opacity: 0.2;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 2) 0%,
    rgba(0, 0, 0, 2) 50%,
    rgba(0, 0, 0, 2) 100%
  );
}

.home-container .content-wrapper .content-slide .img-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.home-container .content-wrapper .content-slide .content-slider .content-info {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  width: calc(100% - 100px);
  color: white;
}

.home-container .arrow-buttons {
  position: absolute;
  bottom: 50px;
  right: 50px;
  display: flex;
  z-index: 10;
}

.home-container .arrow-buttons .arrow-button {
  width: 50px;
  height: 50px;
  color: white;
  cursor: pointer;
  background-color: #000d1a;
  border-radius: 50px;
  padding: 10px;
  margin-right: 1rem;
  user-select: none;
  transition: 0.3s;
}

.home-container .arrow-buttons .arrow-button:hover {
  background-color: white;
  color: black;
  transform: scale(1.05);
}
