.home-container {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.home-container .img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-container .img-container img {
  width: 100%;
  max-width: 1600px;
}

.home-container .header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10rem;
}

.home-container h1 {
  color: white;
  font-weight: 700;
  font-size: clamp(2.5rem, 2vw, 4rem);
  text-transform: uppercase;
}

.home-container .btn {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.home-container .btn span {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.home-container .btn .arrow-btn {
  width: 100px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 20px;
  border: 1px solid white;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.home-container .btn .arrow-btn:hover {
  transition: ease-in-out 0.3s;
  color: black;
  background-color: white;
  transform: scale(1.1);
}

@media screen and (max-width: 1480px) {
  .home-container .header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }

  .home-container h1 {
    color: white;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    margin-left: 3.5rem;
  }

  .home-container .img-container img {
    width: 100%;
    max-width: 1000px;
  }

  .home-container .btn span {
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 10px;
  }

  .home-container .btn .arrow-btn {
    width: 80px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: 1px solid white;
    cursor: pointer;
    transition: ease-in-out 0.3s;
  }
}

@media screen and (max-width: 1280px) {
  .home-container .header-title {
    display: flex;
    width: 60%;
  }

  .home-container .img-container img {
    width: 100%;
    max-width: 1000px;
  }
}

@media screen and (max-width: 1024px) {
  .home-container .header-title {
    display: flex;
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .home-container {
    background-size: 100%;
  }
}

@media screen and (max-width: 425px) {
  .home-container .header-title {
    display: flex;
    width: 85%;
  }

  .home-container h1 {
    color: white;
    font-weight: 700;
    font-size: clamp(1.5rem, 5vw, 2rem);
    text-transform: uppercase;
    margin-left: 1rem;
  }

  .home-container .btn span {
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-top: 10px;
  }

  .home-container .btn .arrow-btn {
    width: 70px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: 1px solid white;
    cursor: pointer;
    transition: ease-in-out 0.3s;
  }
}
