.navbar-container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: rgb(221, 1, 1);
}

.navbar-container .links {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  margin-right: 1rem;
}

/* .navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  z-index: 100;
  position: fixed;
  background-color: rgb(221, 1, 1);
} */

/* .navbar-container .links {
  display: flex;
  flex: 50%;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1rem;
} */

.navbar-container .links a {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 1.0rem;
  letter-spacing: 1px;
  padding: 1.9rem;
  transition: ease-in-out 0.2s;
}

.navbar-container .links a:hover {
  background-color: black;
  transition: ease-in-out 0.2s;
}

.navbar-container .f1-logo {
  display: flex;
}

.navbar-container .f1-logo img {
  height: 100%;
  margin-left: 4rem;
}
