.teams-container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.teams-container .title {
  border-top: 5px solid black;
  border-right: 5px solid black;
  border-top-right-radius: 10px;
  padding-right: 10px;
  width: 70%;
  margin-top: 8rem;
}

.teams-container .title h1 {
  font-size: 2.6rem;
  margin: 0;
  font-weight: 700;
  margin-top: 30px;
}

.teams-container .micro-text {
  display: flex;
  width: 70%;
  background: rgba(240, 240, 240, 0.348);
  padding: 10px;
  margin-top: 50px;
}

.teams-container .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 10rem;
  width: 70%;
}

.teams-container .listing-container {
  flex: 0 0 50%;
  max-width: 680px;
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .teams-container .listing-container {
    flex: 0 0 50%;
    max-width: 440px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .teams-container .listing-container {
    flex: 0 0 50%;
    max-width: 320px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.teams-container .row .listing-wrapper {
  border-top: solid 2px #000;
  border-right: solid 2px #000;
  border-top-right-radius: 10px;
  margin-top: 40px;
  padding-top: 10px;
  padding-right: 10px;
  transition: ease-in-out 0.2s;
}

.teams-container .row .listing-wrapper:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.2s;
}

.listing-container .listing-wrapper .listing-standing {
  padding-bottom: 10px;
  border-bottom: 1px solid #949498;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.listing-container .listing-wrapper .listing-standing .rank {
  font-size: 2.65rem;
  line-height: 2rem;
  font-weight: 700;
}

.listing-container .listing-wrapper .listing-standing .points {
  text-align: right;
}

.listing-container .listing-wrapper .listing-standing .points .team-pts {
  font-size: 26px;
  line-height: 24px;
}

.listing-container .listing-wrapper .listing-info {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.listing-container .listing-wrapper .listing-info .team-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #949498;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 1.5rem;
}

.listing-container .listing-wrapper .listing-info .team-logo img {
  max-width: 50px;
}

.listing-container .listing-wrapper .listing-info .listing-drivers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: 600;
}
.listing-container .listing-wrapper .listing-info .listing-drivers .driver {
  border-right: solid 1px #949498;
  border-bottom: solid 1px #949498;
  border-bottom-right-radius: 10px;
  padding: 0;
  width: 100%;
  max-width: 38%;
  overflow: hidden;
  margin-top: 20px;
  padding-bottom: 7px;
}

.listing-container .listing-wrapper .listing-info .team-car-image {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 420px;
  margin: auto;
}

.listing-container .listing-wrapper .listing-info .team-car-image img {
  max-width: 100%;
  background-position: center;
  margin-top: 10px;
}
