@font-face {
  font-family: "F1";
  src: url("https://www.dafontfree.net/embed/Zm9ybXVsYTEtZGlzcGxheS1yZWd1bGFyLXJlZ3VsYXImZGF0YS81MTMvZi8xOTQxODYvRm9ybXVsYTEtUmVndWxhcl93ZWJfMC50dGY");
}

body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body a {
  text-decoration: none;
}

html, body {
  overflow-x: hidden;
}