body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body a {
  text-decoration: none;
}

html, body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}